body {
  padding: 0px;
  margin: 0px;
  background-color: #f3f3f3;
}
a {
  color: white;
  text-decoration: none;
}
.top-menu-container {
  background-color: #2c3e50;
  padding: 2px;
  color: white;
}
.top-menu-bottom-container {
  background-color: #297075;
  padding: 7px;
}
.top-menu-app-name {
  font-size: 1.3rem;
  font-weight: 600;
  padding-left: 10px;
}
.top-menu-item {
  margin-left: 15px;
  display: inline-block;
  background-color: #297075;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
}
