.text-field {
  width: 100%;
}
.selected-seller {
  color: #297075;
  font-weight: 700;
}
.Mui-expanded .selected-seller {
  color: #83c1ff;
}
.add-product-accordion.MuiExpansionPanelSummary-root.Mui-expanded {
  background-color: #34495e;
  color: white;
}
