.product-image {
  width: 100%;
  margin-left: 7px;
}
.product-card {
  padding-top: 7px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.product-name {
  margin-left: 7px;
}
.product-list-item-accordion.MuiExpansionPanelSummary-root {
  min-height: 5px;
}
.product-list-item-accordion .MuiIconButton-root {
  padding: 0px;
}
.product-list-item-accordion .MuiExpansionPanelSummary-content {
  margin: 0px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-weight: 500;
}
.product-list-item-accordion.MuiExpansionPanelSummary-root.Mui-expanded {
  background-color: #34495e;
  color: white;
  min-height: 5px;
}
.product-list-item-accordion .MuiExpansionPanelSummary-content.Mui-expanded {
  margin: 0px;
}
.MuiPaper-root.MuiExpansionPanel-root.Mui-expanded.MuiExpansionPanel-rounded.MuiPaper-elevation1.MuiPaper-rounded {
  margin: 0px;
}
